

<div class="container">
  <div class="font-weight-bold h5 p-5">{{type}} Promotion</div>

  <form #form="ngForm" ngng >
    <div class="form-group">
      <label for="promotion_id">promotion_id</label>
       <input id="promotion_id" type="number" class="form-control"  name="promotion_id" [ngModel]="this.promotion.promotion_id" >
    </div>
    <div class="form-group">
      <label for="promotion_name">promotion_name </label>
     <input id="promotion_name" type="text" class="form-control" name="promotion_name" [ngModel]="this.promotion.promotion_name" >
    </div>

    <div class="form-group">
      <label for="promotion_cost">promotion_cost </label>
      <input id="promotion_cost" type="number" class="form-control" name="promotion_cost" [ngModel]="this.promotion.promotion_cost" >
    </div>

    <div class="form-group">
      <label for="duration">duration </label>
      <input id="duration" type="time" class="form-control" name="duration" >
    </div>

    <div class="form-group">
      <label for="promotion_status">Status</label>
      <input id="promotion_status" type="checkbox" name="promotion_status" ><br>
    </div>


    <div class="form-group">
      <button class="form-group btn btn-success" type="submit" (click)="onAdd()">{{type}} Promotion </button>
      <a class="btn btn-danger form-group ml-3" routerLink="/promotion/list" >Cancel</a>
    </div>
  </form>
</div>
