

<div class="container">
  <div class="font-weight-bold h5 p-5">{{type}} Promotion</div>

  <form >
    <div class="form-group">
      <label for="promotion_id">promotion_id</label>
       <input  type="number" class="form-control" id="promotion_id" name="promotion_id" [(ngModel)]="promotion.promotion_id" required>
    </div>
    <div class="form-group">
      <label >promotion_name </label>
     <input type="text" class="form-control"   name="promotion_name" [(ngModel)]="promotion.promotion_name" required>
    </div>

    <div class="form-group">
      <label for="promotion_cost">promotion_cost </label>
      <input type="number" class="form-control" id="promotion_cost" name="promotion_cost" [(ngModel)]="promotion.promotion_cost" required>
    </div>

    <div class="form-group">
      <label for="duration">duration </label>
      <input type="duration" class="form-control" id="duration" name="duration" [(ngModel)]="promotion.duration" required>
    </div>

    <div class="form-group">
      <label for="is_deleted">Status</label>
      <input type="text" id="is_deleted" class="form-control"  name="is_deleted" [(ngModel)]="promotion.is_deleted" required><br>
    </div>


    <div class="form-group">
      <button class="form-group btn btn-success" type="submit" (click)="onAdd()">{{type}} Promotion </button>
      <a class="btn btn-danger form-group ml-3" routerLink="/promotion/list" >Cancel</a>
    </div>
  </form>
</div>
