<nav class="nav nav-tabs justify-content-end" (click)="setActive($event)">
  <a
    class="nav-item nav-link"
    [routerLink]="['/home']"
    routerLinkActive="active"
  >
    <i class="fa fa-home"></i> Home
  </a>
  <a  [routerLink]="['/login']"
  routerLinkActive="active" class="nav-item nav-link"> <i class="fa fa-user"></i> Login </a>
  <a     [routerLink]="['/register']"
  routerLinkActive="active" class="nav-item nav-link">
    <i class="fa fa-user-plus"></i> Register
  </a>
  <a href="#" class="nav-item nav-link">
    <i class="fa fa-shopping-cart"></i> Shop
  </a>
  <a
    href="#"
    class="nav-item nav-link"
    [routerLink]="['/about']"
    routerLinkActive="active"
  >
    <i class="fa fa-users"></i> About Us
  </a>
  <a href="#" class="nav-item nav-link"
  [routerLink]="['/contact']"
  routerLinkActive="active"
  >
    <i class="fa fa-inbox"></i> Contact Us
  </a>
</nav>
