<nav
  class="main-nav nav nav-tabs justify-content-end"
  (click)="setActive($event)"
>
  <a
    class="nav-item nav-link"
    [routerLink]="['/home']"
    routerLinkActive="active"
  >
    <i class="fa fa-home"></i> Home
  </a>
  <a
    *ngIf="!isLogged"
    [routerLink]="['/login']"
    routerLinkActive="active"
    class="nav-item nav-link"
  >
    <i class="fa fa-user"></i> Login
  </a>
  <a
    *ngIf="!isLogged"
    [routerLink]="['/register']"
    routerLinkActive="active"
    class="nav-item nav-link"
  >
    <i class="fa fa-user-plus"></i> Register
  </a>
  <a
    *ngIf="isLogged"
    class="nav-item nav-link"
    [routerLink]="['/me']"
    routerLinkActive="active"
  >
    <i class="fa fa-user"></i> Profile
  </a>
  <a
    *ngIf="isLogged"
    class="nav-item nav-link"
    [routerLink]="['/ad/create']"
    routerLinkActive="active"
  >
    <i class="fa fa-plus-square"></i> Ad Post
  </a>
  <a
    class="nav-item nav-link"
    [routerLink]="['/shop']"
    routerLinkActive="active"
  >
    <i class="fa fa-shopping-cart"></i> Shop
  </a>
  <a
    class="nav-item nav-link"
    [routerLink]="['/about']"
    routerLinkActive="active"
  >
    <i class="fa fa-users"></i> About Us
  </a>
  <a
    href="#"
    class="nav-item nav-link"
    [routerLink]="['/contact']"
    routerLinkActive="active"
  >
    <i class="fa fa-inbox"></i> Contact Us
  </a>
  <a
    [routerLink]="['/admin']"
    routerLinkActive="active"
    class="nav-item nav-link"
    *ngIf="!isLogged"
  >
    <i class="fa fa-columns"></i> Dashboard
  </a>
  <a
    (click)="logOut()"
    [routerLink]="['/home']"
    routerLinkActive="active"
    class="nav-item nav-link"
    *ngIf="isLogged"
  >
    <i class="fa fa-columns"></i> Logout
  </a>
</nav>
