<h2 style="margin: 20px;">Promoted Ad Detail List</h2>
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">pa_ad_id</th>
      <th scope="col">Advertisement Id</th>
      <th scope="col">Promotion Id</th>
      <th scope="col">Starting Date</th>
      <th scope="col">Status</th>
      <th scope="col">IsDeleted</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of promotedAdDetails">
      <td>{{ item.pa_ad_id }}</td>
      <td>{{ item.ad_id }}</td>
      <td>{{ item.promotion_id }}</td>
      <td>{{ item.starting_date }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.is_deleted }}</td>
      <td>
        <i
          (click)="promotedAdDetailService.deletePromotedAd(item.Pa_ad_id)"
          class="fa fa-trash danger"
          style="color: red;"
        ></i>
        <a (click)="editPromotion(item.pa_ad_id)">
          <i class="fa fa-edit primary" style="color: blue;"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
