<h2 style="margin: 20px;">AdTypes List</h2>
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">AdType Id</th>
      <th scope="col">AdType Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of adTypes">
      <th scope="row">{{ item.adType_id}}</th>
      <td>{{ item.name }}</td>
      <td>
        <i
          (click)="adTypeService.deleteAdType(item.adType_id)"
          class="fa fa-trash danger"
          style="color: red;"
        ></i>
        <a (click)="editAdType(item.adType_id)">
          <i class="fa fa-edit primary" style="color: blue;"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
