<div class="card text-white">
  <img src="{{ ad.images[0] }}" class="card-img-top" alt="..." />
  <div class="card-img-overlay"></div>
  <div class="text-div">
    <h2 class="card-text text-price">{{ ad.price }}$</h2>
    <h3 class="card-title name">{{ ad.name }}</h3>
    <p class="card-text by">Posted By {{ ad.ad_posted_by }}</p>
  </div>
  <div class="btns">
    <button *ngIf="!isUser" class="btn btn-outline-primary wish">
      <i class="fa fa-heart"></i> Wishlist
    </button>
    <button
      (click)="navBuy()"
      *ngIf="!isUser"
      class="btn btn-outline-primary buy"
    >
      <i class="fa fa-shopping-basket"></i> Buy
    </button>
    <button
      *ngIf="isUser"
      (click)="navEdit()"
      class="btn btn-outline-primary wish"
    >
      <i class="fa fa-edit"></i> Edit
    </button>
    <button *ngIf="isUser" class="btn btn-outline-primary buy">
      <i class="fa fa-trash"></i> Delete
    </button>
  </div>
</div>
