<form [formGroup]="createAdForm" (ngSubmit)="createAd()">
  <h1>Create Your Ad</h1>
  <div class="form-group">
    <label for="name">Name</label>
    <input formControlName="name" id="name" type="text" class="form-control" />
    <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
      Ad must have a name
    </div>
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <select formControlName="city" id="city" class="form-control">
      <option *ngFor="let city of cities" [value]="city.id">{{
        city.name
      }}</option>
    </select>

    <div *ngIf="city.touched && city.invalid" class="alert alert-danger">
      Ad must have a city
    </div>
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select formControlName="type" id="type" class="form-control">
      <option *ngFor="let type of types" [value]="type.id">{{
        type.name
      }}</option>
    </select>

    <div *ngIf="type.touched && type.invalid" class="alert alert-danger">
      Ad must have a type
    </div>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input
      formControlName="price"
      type="number"
      id="price"
      class="form-control"
    />
    <div *ngIf="price.touched && price.invalid" class="alert alert-danger">
      Ad must have a price
    </div>
  </div>

  <div id="imagesGroup" style="width: 100%;">
    <label for="images">Images</label>
    <div id="imagesInputs" style="width: 70%;">
      <input
        formControlName="images"
        type="text"
        id="images"
        class="form-control"
      />
    </div>
    <button id="plus" class="btn btn-primary" (click)="addImage()">
      +
    </button>
    <button
      *ngIf="minusInputs"
      id="minus"
      class="btn btn-primary"
      (click)="minusImage()"
    >
      -
    </button>
    <div *ngIf="images.touched && images.invalid" class="alert alert-danger">
      Ad must have at least one image
    </div>
  </div>

  <button class="btn btn-primary">
    Create Ad
  </button>
</form>
