<form class="needs-validation" novalidate>
    <button  type="button" class="btn btn-outline-danger google"><i class="fa fa-google"></i> &nbsp;&nbsp;&nbsp;&nbsp; Sign up with google</button>
    <h5><span>or</span></h5>
    <div class="form-group">
        <label for="inputName">Username</label>
        <input type="text" class="form-control" id="inputName" placeholder="Username" required>
        <div class="invalid-feedback">Please enter a valid username.</div>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
        <div class="invalid-feedback">Please enter a valid email address.</div>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
        <div class="invalid-feedback">Please enter your password to continue.</div>
    </div>
  
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>
