<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidebar">
    <mat-card class="sidebar-card">Classifieds-web-interface</mat-card>

    <button (click)="setComponent('users')" class="side-btns btn btn-primary">
      manage users
    </button>
    <button
      (click)="setComponent('payments')"
      class="side-btns btn btn-primary"
    >
      manage payments
    </button>
    <button
      (click)="setComponent('promotion')"
      class="side-btns btn btn-primary"
    >
      manage promotions
    </button>
    <button
      (click)="setComponent('promotedAd')"
      class="side-btns btn btn-primary"
    >
      manage promotion ad details
    </button>
    <button (click)="setComponent('cities')" class="side-btns btn btn-primary">
      manage cities
    </button>
  </mat-drawer>

  <mat-drawer-content>
    <div fxLayoutAlign="center center" fxFlexFill class="toolbar">
      <mat-card fxFlexFill>
        <mat-toolbar color="primary">
          <h1 class="header">Dashboard</h1>
        </mat-toolbar>
        <app-manage-users
          *ngIf="listComponents['users']"
          class="items"
        ></app-manage-users>
        <app-manage-payments
          *ngIf="listComponents['payments']"
          class="items"
        ></app-manage-payments>
        <app-manage-promotion
          *ngIf="listComponents['promotion']"
          class="items"
        ></app-manage-promotion>
        <app-manage-promotion-ad-details
          *ngIf="listComponents['promotedAd']"
          class="items"
        ></app-manage-promotion-ad-details>
        <app-manage-cities
          *ngIf="listComponents['cities']"
          class="items"
        ></app-manage-cities>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
