<div class="container">
  <div class="font-weight-bold h5 p-5">Add AdType</div>

  <form>
    <div class="form-group">
      <label for="adType_id">Type Id</label>
      <input
        type="number"
        class="form-control"
        id="adType_id"
        name="name"
        [(ngModel)]="adType.id"
        required
      />
    </div>

    <div class="form-group">
      <label for="type_name">adType Name</label>
      <input
        type="text"
        class="form-control"
        id="type_name"
        name="name"
        [(ngModel)]="adType.name"
        required
      />
    </div>

    <div class="form-group">
      <button
        class="form-group btn btn-success"
        type="submit"
        (click)="addType()"
      >
        Add AdType
      </button>
      <a
        class="btn btn-danger form-group ml-3"
        [routerLink]="['/adType/list']"
        routerLinkActive="active"
        >Cancel</a
      >
    </div>
  </form>
</div>
