<div class="container">
  <div class="font-weight-bold h5 p-5">Edit City</div>

  <form>
    <div class="form-group">
      <label for="city_id">City Id</label>
      <input
        type="number"
        class="form-control"
        id="city_id"
        name="name"
        [(ngModel)]="city.city_id"
        required
      />
    </div>
    <div class="form-group">
      <label for="district_id">District Id</label>
      <input
        type="number"
        class="form-control"
        id="district_id"
        name="name"
        [(ngModel)]="city.district_id"
        required
      />
    </div>

    <div class="form-group">
      <label for="city_name">City Name</label>
      <input
        type="text"
        class="form-control"
        id="city_name"
        name="name"
        [(ngModel)]="city.city_name"
        required
      />
    </div>

    <div class="form-group">
      <button
        class="form-group btn btn-success"
        type="submit"
        (click)="editCity()"
      >
        Edit City
      </button>
      <a class="btn btn-danger form-group ml-3" routerLink="/city/list"
        >Cancel</a
      >
    </div>
  </form>
</div>
