<h2>Payment List</h2>
<table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Payment ID</th>
        <th scope="col">Promoted Ad ID</th>
        <th scope="col">Payment Date</th>
        <th scope="col">Payment Time</th>
        <th scope="col">Payment Amount</th>
        <th scope="col">Payment Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paymentList">
        <th scope="row">{{item.id}}</th>
        <td>{{item.promoted_ad_id}}</td>
        <td>{{item.payment_date}}</td>
        <td>{{item.payment_time}}</td>
        <td>{{item.paid_amount}}</td>
        <td>{{item.payment_status}}</td>
        <td>
            <i (click)="deletePayment(item.id)" class="fa fa-trash danger" style="color: red;"></i>
            <a routerLink="/edit/{{item.id}}">
              <i  class="fa fa-edit primary" style="color: blue;"></i>
            </a>
        </td>
      </tr> 
    </tbody>