/* You can add global styles to this file, and also import other style files */
@import "~bootstrap\dist\css\bootstrap.css";

html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}
body {
  height: 100%;
  min-height: 100%;
}
body {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
