<div class="component-container">
  <div class="title">
    <h1>Welcome to Classifieds system's help & support Page.</h1>
  </div>
  <div class="content-main">
    <h1>We Empower People and Create Economic Opportunity</h1>
    <h4>
      Classifieds system is a global commerce leader that connects millions of
      buyers and sellers around the world. We exist to enable economic
      opportunity for individuals, entrepreneurs, businesses and organizations
      of all sizes
    </h4>
    <div class="card-container">
      <div class="card">
        <img
          src="https://i.ibb.co/YfRtNpy/Screenshot-629.png"
          alt="Avatar"
          style="width: 100%;"
        />
        <div class="container">
          <h3><b>Reach new customers & grow your business</b></h3>
          <p>
            We offer sellers the ability to grow a business with little barrier
            to entry regardless of size, background or geographic location. We
            never compete with our sellers. We win when our sellers succeed.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="https://i.ibb.co/7gG6ysR/Screenshot-630.png"
          alt="Avatar"
          style="width: 100%;"
        />
        <div class="container">
          <h3><b>Explore vast inventory & unique selection</b></h3>
          <p>
            Buyers who shop on our Marketplace and Classifieds platforms enjoy a
            highly personalized experience with an unparalleled selection at
            great value.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
