<div class="component-container">
    <div class="title">
      <h1>Welcome to Classifieds system's contact Page.</h1>
    </div>
    <div class="content-main">
      <h1>Contact Us</h1>
      <h4>
        If you did not find the answer to your question or problem, please get in touch with us using the form below and we will respond to your message as soon as possible.
      </h4>
      <form class="needs-validation" novalidate>

        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Name" required>
            <div class="invalid-feedback">Please enter a valid name.</div>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
            <div class="invalid-feedback">Please enter a valid email address.</div>
        </div>
        <div class="form-group">
            <label for="inputMessage">Message</label>
            <textarea rows="10" class="form-control" required  id="inputMessage" ></textarea>
            <div class="invalid-feedback">Please enter a valid message.</div>
        </div>
      
        <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
    </div>

  </div>
  